# output sitio
_public/

# LaTeX
*.aux
*.log
*.out
*.toc
*.nav
*.snm
*.vrb
*.fls
*.bbl
*.blg
*.fdb_latexmk
*.synctex.gz

# minted
week*/_minted*/

# PDFs compilados (recomendado)
week*/notes.pdf

# logs propios
week*/compilation.log
